.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  
}
.country{
  background: url(./components/covid1.jpg) no-repeat center  center/cover;
}
@media (max-width:770px){
  .App{
    margin: 0 10%;
    
  }
}

